doctype 5
html(ng-app)
  head
    title= title
    script(src='http://code.angularjs.org/1.0.2/angular.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js')
    script('http://underscorejs.org/underscore-min.js')
    script(type='text/javascript', src='/AngularTest/todo.js')
    link(rel='stylesheet', href='/AngularTest/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/AngularTest/todo.css')
  body
    block content